<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <style>
        h3 {
            text-align: center;
        }
    </style>

</head>

<body>
    <h3>
        {% if rest_times >= 0 %}
        Change fruit successfully. You have {{rest_times}} chance left.
        {% else %}
        Sorry, you run out of chance...
        {%endif%}
    </h3>
</body>

<script type="text/javascript">
    window.onload = function () {
        alert("Kiss PhoPho and you can change the fruit");
    }
</script>

</html>