<html>

<head>
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>

    <h3>
        {% if win %}
        congratulation! you win again.
        {% else %}
        sorry... you lose this time.
        {% endif %}
    </h3>
    <h3>
        you have ordered cake already. Your driver PhoPho is on the way
    </h3>
    <div id="driving">
        {% load static %}
        <img id='car' src="{% static 'daie.PNG' %}" alt="My image">
        <img id='myhead' src="{% static 'sample_image.jpg' %}" alt="My image" class="rotate linear infinite">
    </div>
</body>

</html>