<html>

<head>
    {% load static %}
    <!-- <script src="{% static 'script.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>

    <h3>
        order page

    </h3>
    <form method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
            <button name="c1" onclick="myFunction()">c1</button>
            <button name="c2" onclick="myFunction()">c2</button>

        </div>
    </form>
    <script>
        function myFunction() {
            alert("Your order has been sent to our best driver PhoPho");

        }
    </script>

</body>

</html>