<html>

<head>
    {% load static %}
    <!-- <script src="{% static 'script.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>

    <h3>
        Congratulation! You created Big PhoPho successfully!
    </h3>
    <h3>
        As a reward, PhoPho Bakery will send you a cake for free.</h3>
    <h3>
        Here are three types of cake. Please click one to order.
    </h3>
    <form method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
            <ul>
                {% load static %}
                <li><button name="tiramisu" onclick="myFunction()"><img src="{% static 'tiramisu.jpg' %}"
                            alt="tiramisu"></button></li>
                <li><button name="ladym" onclick="myFunction()"><img src="{% static 'ladym.jpg' %}"
                            alt="ladym"></button></li>
                <li><button name="birthdaycake" onclick="myFunction()"><img src="{% static 'birthdaycake.jpg' %}"
                            alt="birthdaycake"></button></li>
            </ul>
        </div>
    </form>
    <script>
        function myFunction() {
            alert("Your order has been sent to our best driver PhoPho");

        }
    </script>

</body>

</html>